/* ===== CV Container ===== */
#main {
  line-height: 1.35;
  padding: 0.5rem 0;
}

/* ===== Sections ===== */
.main-section {
  margin-bottom: 1.5rem;
}

.main-section h2 {
  font-size: 1.5rem;
  font-weight: 200;
  color: #5b74e8;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #e6e9f5;
  padding-bottom: 0.3rem;
}

.main-item {
   background: #f9fafc;
  border: 1px solid #e6e9f5;
  border-radius: 8px;
  border-left: 3px solid #5b74e8;
  padding: 0.9rem 1.2rem;
  margin-bottom: 0.6rem;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  color: #5b74e8;
}

.main-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.15);
}

.main-item h3 {
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 0.15rem;
  color: #5b74e8;;
}

.main-item h4 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.15rem;
  color: #373737;;
}

.main-details {
    font-style: normal;
    color: #666;
    margin-bottom: 10px;
}

.main-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-links li {
  margin-bottom: 0.4rem;
}

.main-links a {
  color: #5b74e8;
  text-decoration: none;
  font-weight: 500;
}

.main-links a:hover {
  text-decoration: underline;
}